#chosen {
	-fx-text-alignment: center;
	-fx-padding: 10;
	-fx-background-color: #ff2d00;
}

.fieldInBorderPane {
	-fx-padding-left: 20px;
	-fx-padding-right: 20px;
    -fx-pref-height: 10px;
}

.borderPane {
	-fx-padding: 40px;
}

.VBOX {
	-fx-padding: 15px;
}
.VBOX .radio {
	-fx-margin: 10px;
}